langchain
langchain-ollama
langchain-community
langchain_text_splitters
streamlit
chardet
faiss-cpu
dotenv
pathlib
datetime
pandas
psutil  # install with pip if needed
#shutil
#glob
Path
#json
websocket
#difflib
configparser
#codecs
typing
tiktoken
#collections
lxml 
openpyxl 
pandas
mcp